.wrapArticle{
  background-color: white;
  box-shadow: var(--boxShadow);
  margin: 2%;
  margin-bottom: 4%;
  border-radius: 10px;
  padding: 2%;
  margin-top: 1rem;
}

.contH1{
  display: flex;
  justify-content: space-between;
}

.contH1 button{
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border: none;
}

.wrapArticle h1{
  font-size: var(--fontSize-h1);
  margin-bottom: 1rem;
  width: 80%;
}

.infosBlack{
  width: 1.3rem;
  height: 1.3rem;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
}

.infosBlack:hover{
  background-color: rgb(195, 187, 187);
}

.contH2{
  display: flex;
  flex-wrap: wrap;
}

.wrapH2{
  display: flex;
  flex-wrap: wrap;
  margin-right: 5%;
}

.wrapH2 h2{
  font-size: var(--fontSize-h2);
}

.wrapArticle p{
  font-size: var(--fontSize-p);
  margin-left: 0.2rem;
}

.h3Red{
  font-size: var(--fontSize-p);
  color: rgb(128, 11, 11);
}

.h3Green{
  font-size: var(--fontSize-p);
  color: rgb(7, 78, 7);
}

.h3Blue{
  font-size: var(--fontSize-p);
  color: rgb(8, 8, 103);
}

.wrapH3{
  display: flex;
  flex-wrap: wrap;
}

.wrapArticle h3{
  font-size: var(--fontSize-h2);
}

.wrapArticle p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize-p);
}

.tooltipWrapper {
  position: relative; /* Para o posicionamento do tooltip */
  display: inline-block; /* Para manter os botões alinhados horizontalmente */
  height: fit-content;
  width: fit-content;
}

.tooltip {
  visibility: hidden; /* Inicialmente escondido */
  width: fit-content; /* Ajuste conforme necessário */
  font-size: var(--fontSize-caixinhaTooltipe);
  background-color: rgb(11, 11, 11); /* Cor do tooltip */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  border-radius: 0.2rem; /* Bordas arredondadas */
  padding: 0.2rem; /* Espaçamento interno */
  position: absolute; /* Permite o posicionamento em relação ao botão */
  z-index: 98; /* Garante que o tooltip fique acima de outros elementos */
  bottom: 100%; /* Coloca o tooltip acima do botão */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Para centralizar em relação ao botão */
  opacity: 0; /* Inicialmente invisível */
  transition: visibility 0s, opacity 0.3s linear; /* Transição suave */
  margin-bottom: 0.1rem;
}

.tooltipWrapper:hover .tooltip {
  visibility: visible; /* Torna visível ao passar o mouse */
  opacity: 1; /* Mostra o tooltip */
  cursor: default; /* Estilo do cursor */
}