.wrapLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
  width: 6rem;
  height: 3.5vh;
  min-height: 2.7rem;
  margin-right: auto;
  border-radius: 8px;
  margin: 0;
}

.imgLogo{
  width: 100%;
  height: 50%;
}

.logoMV{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.logoDBali{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}