.iconsWrap{
  display: flex;
  justify-content: end;
}

.iconsWrap button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin-left: 5px;
  border-radius: 50%;
}

.iconsWrap button img{
  padding: 4px;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--bgButton);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--boxShadow);
}

.iconsWrap button img:hover{
  background-color: var(--bgButtonHover);
}

@media screen and (max-width: 240px){
  .iconsWrap{
    justify-content: space-between;
    width: 6.5rem;
  }

  .iconsWrap button{
    margin-left: 0;
  }
}