.wrap{
  display: flex;
  justify-content: space-around;
  background-color: var(--primaryColor);
  width: 94%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 2%;
  border-radius: 15px;
  min-height: 67vh;
}

.block{
  background-color: rgb(46, 45, 38);
  border-radius: 10px;
  padding: 1%;
  max-height: 44vh;
}

.block::-webkit-scrollbar {
  width: 7px; /* Largura da barra de rolagem */
}

.block::-webkit-scrollbar-track {
  background: #000000; /* Fundo da barra */
  border-radius: 15px;
}

.block::-webkit-scrollbar-thumb {
  background: white; /* Cor do controle da barra */
  border-radius: 15px;
}

.block::-webkit-scrollbar-thumb:hover {
  background: #ddcfcf; /* Cor ao passar o mouse */
}

.blockLeft{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 55%;
}

.blockRight{
  overflow-y: scroll;
  width: 35%;
}