.wrap{
  display: flex;
  justify-content: space-around;
  background-color: var(--primaryColor);
  width: 94%;
  margin-top: 1%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: var(--boxShadow);
  min-height: 70vh;
}

.block{
  border-radius: 10px;
  max-height: 40vh;
}

.block::-webkit-scrollbar {
  width: 7px; /* Largura da barra de rolagem */
}

.block::-webkit-scrollbar-track {
  background: #000000; /* Fundo da barra */
  border-radius: 15px;
}

.block::-webkit-scrollbar-thumb {
  background: rgb(176, 176, 181); /* Cor do controle da barra */
  border-radius: 15px;
}

.block::-webkit-scrollbar-thumb:hover {
  background: #ddcfcf; /* Cor ao passar o mouse */
}

.blockLeft{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
}

.blockRight{
  overflow-y: scroll;
  width: 35%;
  background-color: rgb(77, 76, 82);
  height: fit-content;
  box-shadow: var(--boxShadow);
}

.aFloatLeft{
  position: absolute;
  margin: 0.3rem;
  margin-top: 0.1rem;
  cursor: pointer;
  background-color: #00000000;
  border: none;
  display: inline;
}

.aFloatLeftLeft{
}

.aFloatLeftRight{
  color: white;
  background-color: #000000;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  padding: 0.3rem;
  border-radius: 5px;
}