.wrapArticle{
  background-color: white;
  margin: 2%;
  margin-bottom: 4%;
  border-radius: 10px;
  padding: 2%;
}

.wrapArticle h1{
  font-size: var(--fontSize-h1);
  margin-bottom: 2%;
}

.wrapArticle h2{
  font-size: var(--fontSize-h2);
}