.header{
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  border: 1px solid rgba(0, 0, 0, 0.227);
  max-height: 3.7rem;
  min-height: 3.7rem;
  position: fixed;
  width: 100%;
  max-width: 123.75rem;
}

.headerBlocks{
  width: 49%;
}

@media screen and (max-width: 240px){
  .header{
    flex-direction: column;
    max-height: none;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
  }

  .headerBlocks{
    width: fit-content !important;
  }
}