.header{
  text-align: center;
  max-height: 6vh;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 191, 31);
}

.headerBlocks{
  width: 33.333%;
}