.headerMain{
  text-align: center;
  max-height: 10vh;
  min-height: 130px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.blockMenu{
  border: 1px solid black;
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test{
  background-color: aqua;
}