.pieSegment {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); /* Sombra */
}

.pieSegment:hover {
  transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
  opacity: 0.8; /* Efeito de opacidade ao passar o mouse */
}

.legenda {
  margin-top: 20px;
}

.listaLegenda {
  list-style: none;
  padding: 0;
}

.circulo {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}