.wrapArticle{
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  width: 26.5%;
  min-width: 9rem;
  padding: 0.5rem;
  margin-top: 2rem;
}

.wrapArticle h1{
  font-size: var(--fontSize-h1);
}

.wrapArticle h2{
  font-size: var(--fontSize-h2);
}

.wrapArticle p{
  font-size: var(--pSize);
}

.wrapTotal{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapPeriods{
  display: flex;
  align-items: center;
}

.arrowForwIcon{
  width: 20px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1044px){
  .wrapArticle{
    margin-inline: auto;
    width: 40%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px){
  .wrapArticle{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}