.wrapArticle{
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  width: 25%;
  min-width: 9rem;
  padding: 2%;
  margin: 0.3rem;
  margin-top: 2vh;
}

.wrapArticle h1{
  font-size: var(--fontSize-h1);
}

.wrapArticle h2{
  font-size: var(--fontSize-h2);
}

.wrapArticle p{
  font-size: var(--pSize);
}

.wrapTotal{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.wrapPeriods{
  display: flex;
  align-items: center;
}

.arrowForwIcon{
  width: 20px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}