/*google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* variables */
:root{
  --primaryColor: rgb(235, 202, 80);
  --gray1: rgb(175, 175, 168);
  --fontSize-h1: 0.95rem;
  --fontSize-h2: 0.9rem;
  --fontSize-p: 0.85rem;
  --fontSize-caixinhaTooltipe: 0.5rem;
  --bgColor: rgb(119, 121, 126);
  --bgWrapCards: rgb(204, 200, 200);
  --bgButton: rgb(52, 52, 50);
  --bgButtonHover: rgb(122, 115, 115);
  --borderBox: 0.1rem solid rgba(0, 0, 0, 0.227);
  --boxShadow: 1px 0.1px 3px 0.1px black;
}

html{
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, div, article, main, span, link{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  max-width: 1980px;
  overflow-x: hidden;
  margin: auto;
}

header, main{
  flex: 1;
}

@media screen and (max-width: 1450px){
  :root{
    --fontSize-h1: 0.85rem;
    --fontSize-h2: 0.8rem;
    --fontSize-p: 0.75rem;
  }
}
