/*google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
  background-color: black;
  font-family: "Roboto", sans-serif;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(247, 247, 247);
  max-width: 1980px;
  overflow-x: hidden;
  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main{
  flex: 1;
}
