.artic{
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  margin-top: 1rem;
  padding: 1%;
  border-radius: 0.5rem;
  height: fit-content;
}

.wrapH1AndButtons{
  display: flex;
  justify-content: space-between;
}

.wrapH1AndButtons button{
  background-color: var(--bgButton);
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
}

.wrapH1AndButtons button:hover{
  background-color: var(--bgButtonHover);
}

.wrapButtons{
  text-align: end;
  width: 50%;
}

.IconsOrcamento{
  width: 1rem;
  height: 1rem;
}

.artic h1{
  font-size: var(--fontSize-h1);
  width: 50%;
}

.artic h2{
  font-size: var(--fontSize-h2);
  font-weight: 500;
  margin-top: 0.2rem;
}

.artic p{
  font-size: var(--fontSize-p);
}

.wrapH2InfosCliente{
  display: flex;
  flex-wrap: wrap;
}

.wrapH2InfosCliente h2{
  margin-right: 1.5rem;
  max-width: 10rem;
}

.contWrapH2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.wrapH2{
  width: 48%;
  margin-top: 1.2rem;
  background-color: var(--bgWrapCards);
  box-shadow: var(--boxShadow);
  padding: 0.5%;
}

.wrapH2 h2{
  font-size: var(--fontSize-h2);
}

.spanH2{
  font-size: var(--fontSize-p);
  font-weight: 400;
  margin-left: 0.3rem;
}

.wrapGrafico{
  margin-top: 1rem;
}

.wrapGrafico svg{
  display: flex;
  margin-inline: auto;
}

